.Dashboard {
    height: 100%;
    overflow: auto;
}

.loading-screen {
    margin: auto;
    height: 100%;
    padding-top: 35%;
}

.dashboard-grid {
    margin: 0 0 0 0 !important;
}

.grid {
    height: 100%;
}

.charts {
    width: 100%;
}

.chart {
    margin: 0 auto;
    padding-left: 10px;
}
